<head> <meta http-equiv="refresh" content="3;url=/merchants" /> </head>

<h3> You just added a new merchant - <i><%=@merchant.name%></i>. Nice work! </h3>

<p>Taking you to the list of all merchants...</p>