<h1>List of all merchants</h1>

<% @merchants.each do |merchant|  %>
  <p> Name <%= merchant.name  %> </p>
  <p> ID <%= merchant.id %> </p>
  <form action="/merchants/<%=merchant.id%>/delete" method="post">
  <input type="submit" value="delete" />
  <hr/>
<% end %>

<button> <a href="/merchants/new">Add a new merchant</a> </button>