<h1>List of all merchants</h1>

<% @merchants.each do |merchant|  %>
  <p> <b>Name:</b> <%= merchant.name  %> </p>
  <form action="/merchants/<%=merchant.id%>/delete" method="post">
  <input type="submit" id="button_two" value="delete" />
  </form>
  <hr/>
<% end %>

<form action="/merchants/new" method="link">
<input type="submit" VALUE="Add a new merchant" id="button"/>