<h3>Add a new merchant</h3>

<form action="/merchants" method="post">

<label for="new-merchant"> New merchant: </label>
<input id="new-merchant" type="text" name="name"/>

<input type="submit" value="Add a new merchant"/>
  

</form>