<h3>Add a new merchant</h3>

<form action="/merchants" method="post">

<label for="new-merchant"> New merchant: </label>
<input id="new-merchant" type="text" name="name"/>

<input type="submit" value="Add a new merchant"/>
  

</form>

<br>
<br>
<p>List of existing merchants:</p>
<% @merchants.each do |merchant| %>
<ul>
  <li><%=merchant.name%></li>
</ul>
<% end %>