<!DOCTYPE html>
<html>
<head>
  <title>Brewster's Millions</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/buttons.css">
  <link rel="stylesheet" type="text/css" href="/forms.css">
  <link rel="stylesheet" type="text/css" href="/nav_bar.css">
  <link rel="stylesheet" type="text/css" href="/tables.css">
  <link rel="stylesheet" type="text/css" href="/welcome_page.css">
  <link rel="stylesheet" type="text/css" href="/winner.css">
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/welcome">Home</a></li>
      <li><a href="/transactions">Total spend:</a> $<%=(Transaction.total_all_transactions / 1_000_000).round(1)%>m</li>
      <li><a href="/spending">Remaining budget:</a> $<%=(Fund.first_balance().to_f/ 1_000_000).round(1)%>m</li>
      <li> <a href="/spending/tag">Spending by tag</a></li>
      <li> <a href="/spending/day">Spending by day</a></li>
    </ul>
      
  </nav>
  <div id="yield">
    <%= yield %>
  </div>
</body>
  <footer>
  <div id="footer1">
  <ul>
    <li><a href="/transactions"> All transactions</a></li>
    <li><a href="/merchants">All merchants</a></li>
    <li><a href="/tags">All tags</a></li>
    <li></li>
    <li><a href="/transactions/new">New transaction</a></li>
    <li><a href="/merchants/new">New merchant</a></li>
    <li><a href="/tags/new">New tag</a></li>
  </ul>
  </footer>
  </div>

</html>