<div id="welcome">
<h1>Welcome to the Brewster's Millions app!</h1>
<img src="http://cdn1-www.comingsoon.net/assets/uploads/2015/02/BrewstersBar.jpg">
<p>The rules are as follows:
<ol>
  <li>To inherit $300 million, you have 30 days to spend $30 million without telling anyone why</li>
  <li>You can't have any assets left at the end of the 30 days</li>
  <li>You can only give 5% to charity</li>
  <li>If you have any assets left then you forfeit your remaining budget and don't inherit a thing</li>
</ol>
</p>

<p>So get spending now to inherit the $300 million!</p>
</div>

