body {
  font-family: Lato, Arial;
  padding-bottom: 6rem;
  background-image: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg");
  background-size: 100%
}

#yield {
  padding: 10px;
  padding-top: 50px;
}

