body {
  font-family: Lato, Arial;
  padding-bottom: 6rem;
  background-image: url("https://studio87blog.files.wordpress.com/2016/01/white-marble-2048.jpg");
  background-size: 100%
}

img {
  position: center;
  border-radius: 20px;
}

#button {
  background-color: rgb(255,215,0);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
}

#button:hover {
  background-color: #AE8913;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}

#button_two {
  background-color: #F40F0F;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 10px;
  width: 50px;
}

#button_two:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}

li a {
  text-align: center;
}

nav {
  width: 100%;
  float: left;
  background-color: rgba(221,221,221, 0.5);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

nav li {
  display: inline;
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding-right: 6rem;
}

#yield {
  padding: 10px;
  padding-top: 50px;
}


footer li {
  display: inline;
  width: 100%;
  text-align: center;
  padding-right: 4.3rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(221,221,221, 1);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

#footer1 li {
  flex-grow: 2;
  flex-basis: 33%
  flex: none;

}

#footer1 {
  display: flex;
}

#footer2 li {
  flex-grow: 2;
}

#footer2 {
  display: flex;
}

table {
  /*border-collapse: collapse;*/
  background-color: rgba(221,221,221, 0.5);
  width: 100%;
}

table, th, td {
  vertical-align: center;
}

th {
  font-weight: bold;
  font-size: 18px;
  height: 35px;
  background-color: rgba(255,215,0, 0.8)

}

td {
  text-align: center;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 4px solid #dddddd
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:hover {
  background-color: rgba(255,215,0, 0.8)
}

#welcome {
  text-align: center;
  list-style-position:inside;
}

input {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 14px;
}

input:focus {
  border: 3px solid rgb(221,221,221);
  outline: none;
}

select {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
}