<h1> List of all tags </h1>

<% @tags.each do |tag| %>
  <p> <b>Name:</b> <%= tag.name  %> </p>
  <form action="/tags/<%=tag.id%>/delete" method="post">
    <input type="submit" id="button_two" value="delete" />
  </form>

  <hr/>
<% end %>

<form action="/tags/new" method="link">
<input type="submit" VALUE="Add a new tag" id="button"/>