<h1> List of all tags </h1>

<% @tags.each do |tag| %>
  <p> Name: <%= tag.name  %> </p>
  <p> ID: <%= tag.id  %>
  <form action="/tags/<%=tag.id%>/delete" method="post">
    <input type="submit" value="delete" />
  </form>

  <hr/>
<% end %>

<button><a href="/tags/new">Add a new tag</a></button>