<h1>Brewster's budget tracker</h1>

<h2> Total spend: &emsp; &emsp; &emsp; &ensp;$<%=@total_formatted %> </h2>

<h2> Remaining budget: &emsp; $<%=@remain_formatted %></h2>

<h3>You have spent <%=((@total / (@total + @remain)) * 100).round(1) %>% of your budget</h3>
