<h1>Congratulations, you have run out of money!</h1>

<a href="https://youtu.be/p29GuFPbzsg?t=1m52s" target="_blank">Brewster's Millions ending (spoiler alert)</a>

<h2>You've now inherited $300 million - keep hold of it for longer this time!</h2>