<div id="winner">
  <h1>Congratulations, you spent $30 million in 30 days!</h1>

  <a href="https://youtu.be/p29GuFPbzsg?t=1m52s" target="_blank">Brewster's Millions ending (spoiler alert)</a>

  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/p29GuFPbzsg" frameborder="0" allowfullscreen></iframe>
  </p>

  <h2>You've now inherited $300 million - keep hold of it for longer this time!</h2>
</div>