<h1>Congratulations, you have run out of money!</h1>

<a href="https://youtu.be/p29GuFPbzsg?t=1m52s" target="_blank">Here's the original</a>

<h2>You now stand to inherit $300 million - keep hold of it for longer this time!</h2>